{% extends "base.html" %} {% block content %}
<div style="display: flex; align-items: center; justify-content: space-between">
  <h1>Members Database</h1>
  <button type="button" class="btn btn-success">
    <a href="{% url 'join' %}" style="color: white; text-decoration: none"
      >Join Us!</a
    >
  </button>
</div>
{% for item in all %}
<br />
<p><strong>Name:</strong> {{item.fname|capfirst}} {{item.lname|capfirst}}</p>
<br />
<p><strong>Email:</strong> {{item.email}}</p>
<br />
<p><strong>Age:</strong> {{item.age}}</p>
<br />
<hr />
{% endfor %} {% endblock content %}
