{% extends "base.html" %} {% block content %}
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    "
  >
    <h1>Join Today!</h1>
    <div>
      <button
        style="
          background-color: black;
          color: white;
          border: 2px solid black;
          font-weight: 600;
          border-radius: 0.5rem;
          width: 100px;
          height: 40px;
        "
        onmouseover="this.style.color='black';this.style.backgroundColor='white'"
        onmouseout="this.style.color='white';this.style.backgroundColor='black'"
        type="button"
        onclick="location.href='{% url 'home' %}';"
      >
        HOME
      </button>
    </div>
  </div>
  <br />
  <br />
  <form style="max-width: 500px" method="POST" action="{% url 'join' %}">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          aria-label="First name"
          name="fname"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          aria-label="Last name"
          name="lname"
        />
      </div>
    </div>

    <div class="mb-3">
      <input
        type="number"
        class="form-control"
        placeholder="Enter your Age"
        max="999"
        min="1"
        name="age"
      />
    </div>

    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email Address"
        name="email"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Enter Password"
        name="passwd"
      />
    </div>

    <button type="submit" class="btn btn-secondary">Sign Up</button>
  </form>
</div>
{% endblock content %}
